header {
	/* background-color: white; */
	height: 70px;
	width: 100%;
	border-bottom: 1px #ccc solid;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}
