* {
	box-sizing: border-box;
}
.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px #ddd solid;
	border-radius: 4px;
	display: flex;
	align-items: center;
}
.filters button {
	background-color: #ff5a5f;
	color: #fff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 30px;
	margin-left: auto;
}
.filters button:hover {
	background-color: rgb(255, 90, 95, 0.9);
}
.filters div {
	height: 100%;
	width: 25%;
	cursor: pointer;
}
.filters div:first-of-type {
	border-right: 1px solid #ddd;
}
.filters h2 {
	font-size: 16px;
}
.filters h3,
h4 {
	padding-left: 50px;
	margin: 0;
}
.filters h3 {
	font-weight: 600;
	margin-top: 18px;
}
.filters h4 {
	font-weight: 400;
}
.popover {
	background-color: #fafafa;
	width: 100%;
	border: 1px #ddd solid;
	border-radius: 4px;
	padding: 30px 50px;
	display: none;
	position: relative;
	z-index: 10;
}
.popover li:first-of-type h2 {
	margin-top: 0;
}
.popover li {
	list-style: none;
}
.locations:hover > .popover,
.amenities:hover > .popover {
	display: block;
}
.filters li:not(.filters li.tittle) {
	padding-left: 15px;
}
