.places h1 {
	font-size: 30px;
	width: 100%;
}
.places h2 {
	font-size: 30px;
}
.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	text-align: center;
	position: relative;
}
.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.price_by_night {
	color: #ff5a5f;
	border-radius: 50%;
	border: 4px solid #ff5a5f;
	min-width: 75px;
	height: 75px;
	font-size: 30px;
	position: absolute;
	top: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.price_by_night p {
	margin: 0;
	padding: 0;
}
.information {
	height: 80px;
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	display: flex;
	justify-content: center;
}
.information div {
	width: 100px;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.information div p {
	margin-bottom: 7px;
}
.max_guest,
.number_rooms,
.number_bathrooms {
	background-repeat: no-repeat;
	background-position: center 7px;
}
.max_guest {
	background-image: url("../images/icon_group.png");
}
.number_rooms {
	background-image: url("../images/icon_bed.png");
}
.number_bathrooms {
	background-image: url("../images/icon_bath.png");
}
.user,
.description {
	text-align: left;
	margin-top: 20px;
}
